<header class="h-[215px] bg-[#FFFDE4] flex justify-around text-[#9A61A0] font-medium text-[23px]">
  <a href="/index.html" class="w-1/3 text-center my-auto"><img src="/assets/My logo fix.png " alt="Logo Khonsa" class="object-scale-down h-[180px] mx-auto" /></a>
  <div class="flex w-full justify-evenly my-auto">
    <a href="/index.html" class="my-auto">Home</a>
    <div class="relative inline-block text-[#9A61A0] my-auto">
      <button class="outline-none focus:outline-none border-0" id="dropdown-button">
        <div class="flex items-center cursor-pointer">My Work</div>
      </button>
      <ul class="hidden dropdown-menu absolute left-0 ml-2 w-80 mt-2 py-2 bg-transparent rounded-md shadow-lg z-10" id="dropdown-menu">
        <li><a href="/pages/characterdesign/characterdesign.html" class="block px-4 py-2 hover:bg-[#9A61A0] hover:text-white">Character Design</a></li>
        <li><a href="/pages/packagingdesign/packagingdesign.html" class="block px-4 py-2 hover:bg-[#9A61A0] hover:text-white">Packaging Design</a></li>
        <li><a href="/pages/graphicdesign/graphicdesign.html" class="block px-4 py-2 hover:bg-[#9A61A0] hover:text-white">Graphic Design</a></li>
        <li><a href="/pages/interactivemultimedia/interactivemultimedia.html" class="block px-4 py-2 hover:bg-[#9A61A0] hover:text-white">Interactive Multimedia</a></li>
      </ul>
    </div>
    <a href="/index.html#about" class="my-auto">About</a>
    <a href="/pages/contact.html" class="my-auto">Contact</a>
    <div class="text-[40px]">
      <a href="https://instagram.com/khonsa_amanata?igshid=MzNlNGNkZWQ4Mg=="><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://www.facebook.com/khonsa.amanata.3?mibextid=ZbWKwL"><i class="fa-brands fa-square-facebook"></i></a>
    </div>
  </div>
</header>
